<!doctype html>
<html lang="en">
  <head>
    <title>Проси пощады</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body ng-app="CheckIfPraise">
   <div class="container" ng-controller="PraiseCheck">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             style="{{borderColor}}"
             ng-model="sorry"
             placeholder="Напиши &laquo;Простите&raquo;"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default"
             ng-click="displayMessage();">Простить</button>
         </div>
         <div class="form-group message" style={{color}}>
           {{messageOutput}}
         </div>
   </div>

</body>
</html>
